.DS_Store

Applications
Desktop
Documents
Downloads
iCloud Drive (Archive)
Library
Movies
Music
Pictures
Postman
Public

.bundle
.cache
.config/configstore
.config/gh
.cargo
.gem
.local
.npm
.psql_history
.rbenv
.rustup
.ssh
.vscode
.Trash
.vim/.netrwhist
.vim/pack

.CFUserTextEncoding
.hushlogin
.profile
.ruby-version
.viminfo
.zprofile
.zsh_history
