[user]
  name = Taylor Phillips
  email = taylorscottphillips@gmail.com
[alias]
  s = status
  a = add
  c = commit -m
  b = branch
  co = checkout
  cob = checkout -b
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
