.DS_Store

Applications
Desktop
Documents
Downloads
iCloud Drive (Archive)
Library
Movies
Music
Pictures
Postman
Public

.bundle
.cache
.config/configstore
.config/gh
.cargo
.gem
.irb_history
.lesshst
.local
.netrc
.npm
.nvm
.psql_history
.rbenv
.rustup
.ssh
.vscode
.Trash
.vim/.netrwhist
.config/nvim/.netrwhist

.bash_history
.CFUserTextEncoding
.docker
.hushlogin
.node-gyp/
.node_repl_history
.profile
.ruby-version
.travis/
.viminfo
.yarnrc
.zprofile
.zsh_history
.zcompcache/
.zcompdump

getting-started
tmux-client-3868.log
