[submodule "emmet"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "fzf.vim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "indentLine"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "NERDTree"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/NERDTree
	url = https://github.com/preservim/nerdtree
[submodule "vim-commentary"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-devicons"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim-endwise"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim-fugitive"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-rails"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim-sneak"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-surround"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-textobj-entire"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "vim-textobj-line"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line
[submodule "vim-textobj-user"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim-unimpaired"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-vinegar"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "nvim-lspconfig"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim-jdtls"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "vscode-neovim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vscode-neovim
	url = https://github.com/asvetliakov/vscode-neovim
[submodule "colorbuddy.nvim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/colorbuddy.nvim
	url = https://github.com/tjdevries/colorbuddy.nvim
[submodule "vim-textobj-indent"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent
[submodule "nvim-fzy"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/nvim-fzy
	url = https://github.com/mfussenegger/nvim-fzy
[submodule "telescope.nvim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "popup.nvim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "plenary.nvim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "telescope-fzy-native.nvim"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "vim-polyglot"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "sonokai"]
	path = /Users/taylorphillips/.vim/pack/bundle/opt/sonokai
	url = https://github.com/sainnhe/sonokai
